:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  /* --color-orange: #feb546; */
  --color-black: #000000;
  --color-light-purple: #e4d5fd;
  --color-purple: #ccadfa;
  /* --color-dark-purple: #615371; */
  --color-yellow: #e8d478;
  --color-dark-yellow: #d6c26b;
  --color-orange: #ff9100;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 24px;
  --font-small: 20px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* size */
  --size-border-radius: 6px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: 'Hi Melody', cursive;
  cursor: default;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
  font-family: 'Hi Melody', cursive;
}

/* navBar */
#navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 38px;
  color: var(--color-black);
  font-weight: var(--weight-bold);
  background-color: var(--color-yellow);
  position: sticky;
  top: 0;
  left: 0;
  transition: all 250ms ease-in;
  z-index: 1;
}

#navBar.navBar--dark {
  background-color: var(--color-dark-yellow);
}

.navBar__logo {
  display: flex;
  align-items: center;
}

.navBar__logo .logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.navBar__title {
  color: var(--color-black);
  font-size: var(--font-large);
  padding-top: 12px;
}

.navBar__menu {
  display: flex;
  text-align: center;
}

.navBar__menu__item {
  width: 86px;
  margin: 0 4px;
  padding: 6px;
  font-size: var(--font-medium);
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navBar__menu__item:hover {
  color: var(--color-white);
  background-color: var(--color-orange);
  border-bottom: 3px solid var(--color-white);
}

.navBar__menu__item.active {
  border: 1px solid var(--color-white);
}

.navBar__menu-bar {
  display: none;
  position: absolute;
  top: 30px;
  right: 42px;
  font-size: 40px;
}

/* Section: home */
#home {
  background: url(./img/home/bg4.png) center/contain no-repeat;
  background-color: #e8d478;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}

.home__avatar {
  width: 240px;
  border-radius: 50%;
  border: 4px solid var(--color-light-white);
  margin-right: 24px;
}

.home__title {
  color: var(--color-black);
}

.home__contact {
  width: 180px;
  color: var(--color-black);
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  margin-top: 28px;
  padding: 8px 12px;
  border: 3px solid var(--color-dark-yellow);
  border-radius: var(--size-border-radius);
  transition: transform 250ms ease-in;
}

.home__contact:hover {
  background-color: var(--color-orange);
  border: none;
  border-bottom: 4px solid var(--color-white);
  color: var(--color-white);
  transform: scale(1.1);
}

/* Section Common */
.section {
  max-width: 1200px;
  padding: 50px;
  text-align: center;
  margin: auto;
}

/* Section: about */
.about__characters {
  display: flex;
  justify-content: space-between;
  margin: 80px 0 60px 0;
}

.about__character {
  width: 22opx;
}

.about__icon {
  width: 200px;
  height: 200px;
  border: 3px solid var(--color-blue);
  border-radius: 50%;
  margin: auto;
  margin-bottom: 24px;
  line-height: 200px;
  font-size: 68px;
  color: var(--color-blue);
}

.about__icon i {
  transition: all var(--animation-duration) ease;
}

.about__icon:hover i {
  color: var(--color-dark-yellow);
  transform: rotate(360deg) scale(1.2);
}

.about__icon:hover {
  border: 8px solid var(--color-dark-yellow);
}

.title,
.description {
  color: var(--color-dark-grey);
}

.divider {
  width: 40%;
  margin-bottom: 54px;
  border: 1px solid #ececec;
}

.about__training {
  display: flex;
  margin-left: 310px;
}

.training__img {
  width: 80px;
  height: 80px;
  margin-right: 12px;
}

.training__name,
.training__period {
  text-align: left;
  color: var(--color-grey);
}

/* Section: skills */
#skills {
  background-color: var(--color-light-purple);
  margin-top: 50px;
}
.skillset {
  display: flex;
  color: var(--color-white);
  margin: 40px 0;
}

.skillset__left,
.skillset__right {
  padding: 40px;
}

.skillset__left {
  flex: 1 1 70%;
  border-radius: 12px 0 0 12px;
  background-color: var(--color-dark-grey);
}

.skillset__right {
  flex: 1 1 30%;
  border-radius: 0 12px 12px 0;
  background-color: var(--color-light-grey);
}

.skillset__title {
  color: var(--color-white);
  margin-bottom: 20px;
}

.skill {
  margin-bottom: 28px;
}
.skill__description {
  font-size: var(--font-regular);
  text-align: left;
}

.skill__description.left {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 8px;
  background-color: var(--color-light-grey);
}

.skill__value {
  height: 8px;
  background-color: var(--color-orange);
}

/* Section: Gallery */
#gallery {
  margin-top: 50px;
}
.gallery__categories {
  width: 740px;
  display: flex;
  justify-content: space-between;
  margin: 40px auto;
}

.category__btn {
  width: 180px;
  height: 60px;
  font-size: var(--font-medium);
  border: 1px solid var(--color-dark-grey);
  border-radius: var(--size-border-radius);
}

.category__btn.active,
.category__btn:hover {
  background-color: var(--color-yellow);
}

.category__count {
  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color-white);
  width: 32px;
  height: 32px;
  line-height: 36px;
  display: inline-block;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all 250ms ease-in;
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.gallery__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all 300ms ease-out;
}

.gallery__container.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}

.gallery {
  width: 360px;
  margin: 2px;
  background-color: var(--color-light-white);
  position: relative;
}

.gallery.hide {
  display: none;
}

.gallery__img {
  width: 100%;
  height: 100%;
  padding: 15px;
}

.gallery__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark-yellow);
  color: var(--color-white);
  font-size: var(--font-medium);
  opacity: 0;
  transition: all 250ms ease-in;
  transform: translateY(20px);
}

.gallery__description span:first-child::after {
  content: '';
  display: block;
  width: 75px;
  height: 3px;
  position: relative;
  left: 50%;
  margin-left: -34px;
  margin-bottom: 12px;
  background-color: var(--color-white);
}

.gallery:hover .gallery__description {
  opacity: 0.8;
  transform: translateY(0);
}

/* Section: Testimonial */
#testimonials {
  margin-top: 50px;
  background-color: var(--color-light-white);
}

.testimonials {
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.testimonial {
  display: flex;
  margin-bottom: 30px;
}

.testimonial__avatar {
  width: 160px;
  border-radius: 50%;
  border: 6px solid var(--color-white);
}

.testimonial__avatar:nth-child(odd) {
  margin-right: 40px;
}

.testimonial__avatar:nth-child(even) {
  margin-left: 40px;
}

.testimonial__speech-bubble {
  background-color: var(--color-white);
  border-radius: var(--size-border-radius);
  padding: 20px 34px;
  text-align: left;
}

.name {
  color: var(--color-dark-pink);
  text-align: center;
  margin-top: 8px;
}

/* Section: Contact */
#contact {
  background-color: var(--color-dark-yellow);
  padding-top: 30px;
}

.contact__title,
.contact__email,
.contact__links,
.contact__right {
  color: var(--color-white);
}

.contact__links {
  font-size: var(--font-large);
  margin: 20px 0;
}

.contact__right {
  font-size: var(--font-medium);
}

/* Arrow up button */
.arrow-up {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--color-dark-pink);
  position: fixed;
  bottom: 60px;
  right: 60px;
  color: var(--color-white);
  font-size: var(--font-large);
  padding-top: 10px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms ease-in;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

@media screen and (max-width: 1200px) {
  #navBar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .navBar__menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 14px;
  }

  .hide {
    display: none;
  }

  .navBar__menu__item {
    width: 100%;
  }

  .navBar__menu-bar {
    display: block;
  }

  #home {
    text-align: center;
    flex-direction: column;
    background: url(./img/home/bg5.png) center/contain no-repeat;
    background-color: #e8d478;
    height: 700px;
  }

  .home__title {
    color: var(--color-black);
  }

  .about__characters {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about__character {
    width: 50%;
    display: flex;
    margin-bottom: 38px;
  }

  .title__description {
    width: 50%;
  }

  .title {
    margin-top: 30px;
  }

  .skillset {
    display: flex;
    flex-direction: column;
  }

  .skillset__left {
    border-radius: 12px 12px 0 0;
  }

  .skillset__right {
    border-radius: 0 0 12px 12px;
  }

  .skill__description.right {
    margin-left: 32%;
  }

  .gallery {
    flex-grow: 1;
  }

  .testimonial {
    align-items: center;
  }

  .testimonial__avatar {
    width: 150px;
    height: 150px;
  }
}
